/* Variables*/
$primary-background: #f7f7f7;
$gold: #ffe677;
$header-font: 'Tangerine',
cursive;
$button: #4eabda;
$button-pressed: #2990c4;
$gray: #cecece;
$delete: red;

// Mixins
@mixin form {
  width: 25%;
  height: 30px;
  margin: 5px;
  font-size: 1.15rem;
}

@mixin button {
  margin: 10px;
  width: 175px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  background-color: $button;
  border: none;
}

// Global style fix
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

// Header styling
header {
  background-image: url('https://images.pexels.com/photos/573552/pexels-photo-573552.jpeg?cs=srgb&dl=architecture-carpet-chandeliers-573552.jpg&fm=jpg');
  background-position: top;
  background-size: 80%;
  padding: 28px;
}

header,
h1 {
  font-family: $header-font;
  font-size: 3.7rem;
  color: $gold;
  text-shadow: $primary-background .5px .5px;
}

// Content and body styles
body {
  background-color: $primary-background;
}

#login {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  p {
    margin: 5px;
  }
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.dashboard {
  display: grid;
  grid-template-columns: .75fr 2.25fr;
  grid-template-areas: 'sidebar content content';

  .sidebar {
    text-align: center;
    padding: 20px;
    grid-area: sidebar;


    h2 {
      margin: 10px 0;
    }
  }

  .content {
    grid-area: content;
    padding: 30px;
  }

}

.booking {
  display: block;
  padding: 13px 0;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

// Buttons
button {
  @include button;


  &:active {
    background-color: $button-pressed;
    color: #FFF;
  }
}

.delete-booking {
  background-color: $delete;

  &:active {
    background-color: #8b0000;
    color: #FFF;
  }
}

// Inputs/forms
input {
  @include form;
}

select {
  @include form;
}